{% extends "master.html" %}

{% if liste %}
    {% block title %}
        <h3>Details of a Call </h3>
        <label>Cursus : {{cursus}} And Date : {{date}}</label>
    {% endblock %}

    {% block content %}
<div class="container">
    <ul class="list-group col-md-6">
        {% for call in liste %}
            {% if call.isAbsent %}
        <label><a style="color:red">&#9632;&nbsp;</a>{{call.student}}</label>
            {% else %}
        <label><a style="color:green">&#9632;&nbsp;</a>{{call.student}}</label>
            {% endif %}
        {% endfor %}
    </ul>
</div>
    {% endblock %}
{% else %}
     <p>No call to show.</p>
{% endif %}